@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@media (min-width: 500px) {
    .col-sm-6 {
        width: 50%;
    }
}

html,
body {
    height: 100%;
    min-height: 18em;
}


/* ========================================================================= */


/*                                Landing Page                               */


/* ========================================================================= */

.landing-page h1 {
    background: #0000007a;
    width: max-content;
    margin: auto;
    padding: 10px 28px;
    margin-top: 10vh;
    line-height: 1.5;
    border-radius: 5px;
    font-size: 1.5rem;
}

.landing-page-brand {
    position: absolute;
    z-index: 99;
    left: 50%;
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 50px;
    line-height: 75px;
}

.landing-page {
    background-color: black;
}

.funeral-side {
    background-image: url("../assets/media/malin_head.jpg");
}

.travel-side {
    background-image: url("../assets/media/buses/busingap.jpg");
}

.split-pane {
    padding-top: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50%;
    min-height: 9em;
    font-size: 2em;
    color: white;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    ;
}

.landing-page .split-pane>div .text-content {
    margin-bottom: 45px;
}

@media(min-width: 500px) {
    .funeral-side {
        background-image: url("../assets/media/malin_head.jpg");
        border-left: 5px solid black;
    }
    .split-pane {
        padding-top: 2em;
        height: 100%;
    }
    .landing-page h1 {
        font-size: 2.5rem;
    }
}

@media(max-width: 499px) {
    .funeral-side {
        border-top: 5px solid black;
    }
    .landing-page-brand {
        top: 5%;
    }
}

.split-pane>div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.split-pane>div .text-content {
    line-height: 1.6em;
    margin-bottom: 1em;
}

.split-pane>div .text-content {
    font-size: 2em;
}

.split-pane>div img {
    height: 1.3em;
}

@media (max-width: 500px) {
    .split-pane>div img {
        display: none;
    }
}

.split-pane button,
.split-pane a.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background: none;
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 15em;
    padding: 0.7em;
    font-size: 0.5em;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.split-pane button:hover,
.split-pane a.button:hover {
    text-decoration: none;
    background-color: white;
    border-color: white;
    cursor: pointer;
}

.travel-side.split-pane button:hover,
.split-pane a.button:hover {
    color: violet;
}

.funeral-side.split-pane button:hover,
.split-pane a.button:hover {
    color: blue;
}

.big {
    font-size: 2em;
}

#slogan {
    position: absolute;
    width: 100%;
    z-index: 100;
    text-align: center;
    vertical-align: baseline;
    top: 0.5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

@media(min-width: 500px) {
    #slogan {
        top: 5%;
        font-size: 1.8em;
    }
}

#slogan img {
    height: 0.7em;
}

a.white-text,
a.white-text:hover,
a.white-text:active {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

ul.table-legend {
    list-style-type: none;
    padding: 0px;
}

ul.table-legend li {
    float: left;
    font-size: 11px;
    letter-spacing: 0.3px;
    font-weight: 300;
}

.table th,
.table td {
    border-top: none;
}


/*** Nav dropdown ***/

.dropdown-menu {
    border: none;
}

.dropdown-item {
    padding: 0.25rem 1.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 0.8rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #28a745;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #28a745;
}

h5 {
    margin-top: 5%;
}

.timetable-full {
    background-image: url("../assets/media/300.jpg");
    height: 800px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    /* Resize the background image to cover the entire container */
}


/* Funeral Coffins */

.card-body {
    min-height: 190px;
    min-width: 300px;
    margin-right: 5px;
}

.card-deck {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
    overflow: auto;
}

.card {
    min-width: 48%;
    border: none;
}

.card img {
    object-fit: contain;
    height: 225px;
    width: 90%;
    display: block;
}

@media(max-width: 500px) {
    .card {
        min-width: 100%;
    }
    .card img {
        height: 200px;
        margin-left: 5%;
    }
}


/* width */

.card-deck::-webkit-scrollbar {
    width: 20px;
}


/* Track */

.card-deck::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

.card-deck::-webkit-scrollbar-thumb {
    background: #28a745;
    border-radius: 10px;
}


/* Handle on hover */

.card-deck::-webkit-scrollbar-thumb:hover {
    background: #247236;
}


/* funeral useful links */

.useful-links p {
    font-size: 15px;
}

@media(max-width: 500px) {
    .useful-links p {
        font-size: 11px;
    }
}


/* funeral contact */

.funeral-contact svg {
    height: 40px;
}


/* coach hire */


/* provide width to table */

th:nth-child(odd) {
    width: 20%;
}